/*
JOSEPH P. PASAOA
Flexbox Challenge #4 | Conquering Responsive Layouts
*/


/* BASE ELEMENTS */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #824936;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.25rem;
}

p {
    line-height: 2rem;
}


/* CUSTOM REUSABLES */
.background {
    max-width: 70.5rem;
    margin: 0 auto;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 5rem 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row > * {
    width: 47.5%;
}


/* SPECIFIC CASES */
:root {
    --vertical-margin: 6rem;
    --container-border: 1px solid #000;
}

.landing {
    min-height: 41.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: var(--vertical-margin);
    padding: 0 10%;
    border: var(--container-border);
    border-bottom: 0; 

    background-color: #f3eed9;
    color: #222c2a;
}

.title__lead {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #222c2a;
}

.title {
    line-height: 1.1em;
}

.description h2 {
    text-align: center;
}

.description,
.dark {
    border: var(--container-border);
    border-width: 0 1px;
}

.description h2 {
    margin-bottom: 2.5rem;
}

.dark h2,
.bottom h2 {
    margin-bottom: 1.5rem;
    color: #f3eed9;
}

.dark {
    background-color: #222c2a;
    color: #fff;
}

.bottom {
    margin-bottom: var(--vertical-margin);
    border: var(--container-border);
    border-top: 0;

    background-color: #824936;
    color: #fff;
}
