/* 
FOR THIS CHALLENGE
- You will have to modify the HTML
- You can add new classes in the HTML if you need to

REQUIREMENTS
1. The headings in the first row must be a different color
2. The two .col at the bottom must go next to one another
3. The section at the bottom should have a dark background color and a different color of text
4. I've removed the "gap" that I created, so you'll have to add it back in
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
}

h1 {
    font-size: 3rem;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    width: 100%;
    text-align: center;
}

.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text {
    width: 60%;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.middlelight {
    padding: 2.5rem 0 3.5rem 0;
    color: #3a3a3a;
}

.middlelight .col + .col {
    margin-left: 1.5rem;
}

.middlelight h2 {
    color: #87629a;
}

.lowerdark {
    padding: 2.5rem 0;
    background-color: #136C72;
    color: #fff;
}

.lowerdark .col + .col {
    margin-left: 2rem;
}
